body {
	margin: 1rem 2rem;
}

table#pt td .err {
	color: #999;
	margin-left: 8px;
}

table#pt td.winner {
	background-color: #dff0d8;
}

table#pt td.loser {
	background-color: #f2dede;
}

table#pt td.equal {
    background-color: #fcf8e3;
}

i.pending {
    color: #cecece;
}
